<template name="postItem">
	<div class="post">
	<a href="#" class="upvote btn btn-xs {{upvotedClass}}">&uarr;</a>
		<div class="post-content">
			<h3>
				<a href="{{url}}">{{title}}</a>
				<span>{{domain}}</span>
			</h3>
			<p>
			{{pluralize votes "Vote"}},
				submitted by {{author}},
				<a href="{{pathFor 'postPage'}}">{{commentsCount}} comments</a>
				{{#if isOwn}} <a href="{{pathFor 'postEdit'}}">edit</a>{{/ if}}
			</p>
		</div>
			<a href="{{pathFor 'postPage'}}" class='discuss btn btn-primary'>Discuss</a>
	</div>
</template>